*{
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* scrollbar style start  */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  border-radius: 50px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* scrollbar style end  */

h1{
  margin: 10px 0px;
}
button{
    background: #FF9D02;
    color: #fff !important;
    border-style: none;
    border-radius: 7px;
    padding: 10px 50px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.icon{
  font-size: 14px;
  margin-right: 7px;
}
.dashboard-container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar main';
}

.page{
  grid-area: main;
  height: calc(100vh - 80px);
  padding: 20px;
  overflow-y:scroll;
  margin-bottom: 50px;
}
.page-header{
  display: flex;
  align-items:  center;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* table styles start  */
th{
  background: #000 !important;
  color: #fff !important;
  text-align: center !important;
  
}
td{
  text-align: center !important;
  max-width: 500px !important;
  word-wrap: break-word !important;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link{
  color: rgba(0, 0, 0, 0.25) !important;
}

.ant-pagination .ant-pagination-item-active a{
  color: #000;
  
}

.ant-pagination-item-active {
  border-color: #000 !important;
}

/* table styles start  */
